<footer class="container mx-auto flex flex-col justify-items-center text-sm leading-6 mt-24 mb-4 text-slate-700 dark:text-slate-200">

  {{ partial "functions/get_hook" (dict "hook" "footer-start" "context" .) }}

  {{/* Load footer block */}}
  {{ $footer_section_name := site.Params.footer.blox | default "minimal" }}
  {{ $footer_section_path := printf "components/footers/%s.html" $footer_section_name }}
  {{ if not (templates.Exists (printf "partials/%s" $footer_section_path)) }}
    {{ errorf "Check your `params.yaml`. Cannot find footer block at `layouts/partials/%s`" $footer_section_path }}
  {{ end }}
  {{ partial $footer_section_path . }}

</footer>